body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333333 !important;
  color: whitesmoke !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

hr {
  background-color: whitesmoke;
}
h2 {
  color: whitesmoke;
}

button {
  color: white !important;
}

ul.header {
  list-style-type: none;
  margin: 0px 0px 15px 0px;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to right, #333333, #222222);
  border-radius: 0px 0px 2px 2px;
}

ul.header li {
  float: left;
}

ul.header li a {
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.header li a:hover:not(.active) {
  background-color: #111;
}
.active {
  background-color: #222;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1/2;
  grid-row: 1;
  padding-left: 59%;
}

.two {
  grid-column: 2/2;
  grid-row: 1;
  padding-left: 2.5%;
}

.btnBorder {
  border: 2px outset #222222;
  background-color: #444444;
}

.btnBorderTwo {
  margin-right: 37px !important;
}

.btnBorderClose {
  margin-left: 10px;
}

.ownInputs {
  background-color: white;
  border: 2px solid #333;
  border-radius: 5px;
}

.giveMeSpace {
  margin-bottom: 200px;
}

.ownHr {
  border-color: whitesmoke;
}

.ownList {
  background: linear-gradient(to bottom right, #333, #222222);
  border-radius: 20px !important;
}

.list-group-test {
  background-color: inherit;
}

.errMsg {
  color: firebrick;
}

.sucsMsg {
  color: #19d21f;
}

.paginationStyle {
  background-color: #333;
  color: whitesmoke;
  border: 1px solid #222;
}

.paginationStyle:hover {
  background-color: #222;
  color: whitesmoke;
  border: 1px solid #111;
}

.allUsersHr {
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
  max-width: 90%;
  background-color: whitesmoke;
}
